<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[ 
akka {
  actor {
    provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
    deployment {
      /broadcaster {
       router = consistent-hashing-group
       routees.paths = ["/user/worker"]
       cluster {
          enabled = on
          allow-local-routees = off
          use-role = [worker]
        }
      }
    }
  }
  remote {
    helios.tcp {
      port = 8080
      hostname = localhost
    }
  }
  cluster {
    seed-nodes=["akka.tcp://Cluster@localhost:8080"]
    roles=[primary]
  }
}

      ]]>
    </hocon>
  </akka>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>